<div class="row align-items-center py-5">
  <div class="py-5 footer bg-light">

    <div class="col-md-10 ms-auto ">
      <h5 class="">Get The FreshCard App</h5>
    <p  class=" text-muted">We Will Send You a link,open it on your phone to donwload the app</p>
    <div class=" d-flex  ">
      <input placeholder="email..." class="form-control w-75" type="email">
        <button class=" btn bg-main border-none border-0 text-white d-block ms-auto"> Share App Link</button>
    </div>
  </div>


</div>
